ServiceHostingApplication/Service References/PerSessionWcfServiceClient/PerSessionWcfService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PerSessionWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PerSessionWcfService/PerSessionWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/PerSessionWcfService/PerSessionWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/PerSessionWcfService/PerSessionWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerSessionWcfService_SleepForMilliseconds_InputMessage">
    <wsdl:part name="parameters" element="tns:SleepForMilliseconds" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_SleepForMilliseconds_OutputMessage">
    <wsdl:part name="parameters" element="tns:SleepForMillisecondsResponse" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_BusySleepForMilliseconds_InputMessage">
    <wsdl:part name="parameters" element="tns:BusySleepForMilliseconds" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_BusySleepForMilliseconds_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusySleepForMillisecondsResponse" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_TaskedSleepForMilliseconds_InputMessage">
    <wsdl:part name="parameters" element="tns:TaskedSleepForMilliseconds" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_TaskedSleepForMilliseconds_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaskedSleepForMillisecondsResponse" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_TaskedBusySleepForMilliseconds_InputMessage">
    <wsdl:part name="parameters" element="tns:TaskedBusySleepForMilliseconds" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_TaskedBusySleepForMilliseconds_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaskedBusySleepForMillisecondsResponse" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPerSessionWcfService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerSessionWcfService">
    <wsdl:operation name="SleepForMilliseconds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerSessionWcfService/SleepForMilliseconds" message="tns:IPerSessionWcfService_SleepForMilliseconds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerSessionWcfService/SleepForMillisecondsResponse" message="tns:IPerSessionWcfService_SleepForMilliseconds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusySleepForMilliseconds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerSessionWcfService/BusySleepForMilliseconds" message="tns:IPerSessionWcfService_BusySleepForMilliseconds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerSessionWcfService/BusySleepForMillisecondsResponse" message="tns:IPerSessionWcfService_BusySleepForMilliseconds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaskedSleepForMilliseconds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerSessionWcfService/TaskedSleepForMilliseconds" message="tns:IPerSessionWcfService_TaskedSleepForMilliseconds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerSessionWcfService/TaskedSleepForMillisecondsResponse" message="tns:IPerSessionWcfService_TaskedSleepForMilliseconds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaskedBusySleepForMilliseconds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerSessionWcfService/TaskedBusySleepForMilliseconds" message="tns:IPerSessionWcfService_TaskedBusySleepForMilliseconds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerSessionWcfService/TaskedBusySleepForMillisecondsResponse" message="tns:IPerSessionWcfService_TaskedBusySleepForMilliseconds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerSessionWcfService/GetData" message="tns:IPerSessionWcfService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerSessionWcfService/GetDataResponse" message="tns:IPerSessionWcfService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerSessionWcfService/GetDataUsingDataContract" message="tns:IPerSessionWcfService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerSessionWcfService/GetDataUsingDataContractResponse" message="tns:IPerSessionWcfService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerSessionWcfService" type="tns:IPerSessionWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SleepForMilliseconds">
      <soap:operation soapAction="http://tempuri.org/IPerSessionWcfService/SleepForMilliseconds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusySleepForMilliseconds">
      <soap:operation soapAction="http://tempuri.org/IPerSessionWcfService/BusySleepForMilliseconds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskedSleepForMilliseconds">
      <soap:operation soapAction="http://tempuri.org/IPerSessionWcfService/TaskedSleepForMilliseconds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskedBusySleepForMilliseconds">
      <soap:operation soapAction="http://tempuri.org/IPerSessionWcfService/TaskedBusySleepForMilliseconds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPerSessionWcfService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPerSessionWcfService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerSessionWcfService">
    <wsdl:port name="BasicHttpBinding_IPerSessionWcfService" binding="tns:BasicHttpBinding_IPerSessionWcfService">
      <soap:address location="http://localhost:8080/PerSessionWcfService/PerSessionWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>