ServiceHostingApplication/Service References/PerCallWcfServiceClient/PerCallWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PerCallWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6380/PerCallWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6380/PerCallWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6380/PerCallWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerCallWcfService_SleepForMilliseconds_InputMessage">
    <wsdl:part name="parameters" element="tns:SleepForMilliseconds" />
  </wsdl:message>
  <wsdl:message name="IPerCallWcfService_SleepForMilliseconds_OutputMessage">
    <wsdl:part name="parameters" element="tns:SleepForMillisecondsResponse" />
  </wsdl:message>
  <wsdl:message name="IPerCallWcfService_BusySleepForMilliseconds_InputMessage">
    <wsdl:part name="parameters" element="tns:BusySleepForMilliseconds" />
  </wsdl:message>
  <wsdl:message name="IPerCallWcfService_BusySleepForMilliseconds_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusySleepForMillisecondsResponse" />
  </wsdl:message>
  <wsdl:message name="IPerCallWcfService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPerCallWcfService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPerCallWcfService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPerCallWcfService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerCallWcfService">
    <wsdl:operation name="SleepForMilliseconds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerCallWcfService/SleepForMilliseconds" message="tns:IPerCallWcfService_SleepForMilliseconds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerCallWcfService/SleepForMillisecondsResponse" message="tns:IPerCallWcfService_SleepForMilliseconds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BusySleepForMilliseconds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerCallWcfService/BusySleepForMilliseconds" message="tns:IPerCallWcfService_BusySleepForMilliseconds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerCallWcfService/BusySleepForMillisecondsResponse" message="tns:IPerCallWcfService_BusySleepForMilliseconds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerCallWcfService/GetData" message="tns:IPerCallWcfService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerCallWcfService/GetDataResponse" message="tns:IPerCallWcfService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerCallWcfService/GetDataUsingDataContract" message="tns:IPerCallWcfService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerCallWcfService/GetDataUsingDataContractResponse" message="tns:IPerCallWcfService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerCallWcfService" type="tns:IPerCallWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SleepForMilliseconds">
      <soap:operation soapAction="http://tempuri.org/IPerCallWcfService/SleepForMilliseconds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusySleepForMilliseconds">
      <soap:operation soapAction="http://tempuri.org/IPerCallWcfService/BusySleepForMilliseconds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPerCallWcfService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPerCallWcfService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerCallWcfService">
    <wsdl:port name="BasicHttpBinding_IPerCallWcfService" binding="tns:BasicHttpBinding_IPerCallWcfService">
      <soap:address location="http://localhost:6380/PerCallWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>